

@use 'colors'; 
@import 'button' ; 
@import 'navbar'; //import navbar style
 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  
}


/* hero section */
#title-section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin: 4rem;
  @include table{
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    justify-content: center;
    justify-items: center;
    .hero-img{
     width: 100%;
    }
    h1 {
      margin-top: 0rem;
    }
  }
}
h1 {
  margin-top: 9rem;
}
h2 {
  text-align: center;
}

.buy-btn {
  margin: 2rem 0 0 8rem;
}

// /* products  */
.product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
  background-color:$primary;
@include table{
  display: grid;
  width: 100%;

}

  .card {
    width: 17rem;
    padding-bottom: 1em;
    box-shadow: 0px 0px 6px 0px  ;
    margin: 1.3rem;
    background-color: $second;
    border-radius: 20px;
   
    &:hover{
      transform: scale(1.1);
      transition: .7s;
       }
  }
 
  .card div{
    margin: 1rem;
  }
  .card button {
    margin: 3rem;
    text-align: center;
  }
  .card h4 {
  display: inline; 
}
/* review icone */
.fa-star{
  color: goldenrod;
  &:hover{
    transform: scale(1.6);
    transition: .7s;
  }
}

}

// /* news littler section */
.subscription{
 margin: 4rem;
 display: flex;
 flex-direction: column;
 button {
  margin-top: 3rem;
  margin-left: 10rem;
}
}

// /* contact us */
.form-contact{
  display: flex;
  color: $primary;
  flex-direction: column;
  width: 50%;
  background-color: transparent;
  padding: 7em;
  border-radius: 20px;
  @include table{
    width: 100%;
    justify-content: center;
    
  }
  div{
    display: flex;
    flex-direction: column;
  }
  .input {
    width: 30rem;
    height: 2rem;
    border-radius: 20px;
    border: 1px solid $primary;
    margin-bottom: 1rem;
    @include table {
      width: 100%
    }
  }
  .input-message {
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    border: 1px solid $primary;
    margin-bottom: 1rem;
    @include table{
      width: 100%;
    }
  }
  .submit{
    margin-left: 6rem;
  }
  @include table{
   margin-right: 10px;
  }
}
.contact-section{
  background-image: url('/src/images/mocup.png');
  background-size: cover;
  background-attachment: fixed;
  
}
.bg-tint {
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
}

// /* footer */
footer {
  display: flex;
  flex-direction:row;
  gap: 20rem;
  padding:4em ;
  background-color: $second;
  @include table{
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    text-align: center;
  }

  div{
    display: flex;
    flex-direction:column;
    gap: 2rem;
  }

  a{
    border:none;
    &:hover{
      background-color: $primary;
    }
  }
}


